.text {
    font-size: 18px;
    font-weight: 400;
}

.bold {
    font-weight: bold;
}

.titleSm {
    font-size: 24px;
}

.titleMd {
    font-size: 30px;
}

.titleLg {
    font-size: 40px;
}

.textSm {
    font-size: 14px;
}

.textMd {
    font-size: 16px;
}

.textLg {
    font-size: 18px;
}
